# Create a Logistic Regression to predict absenteeism

In [1]:
import pandas as pd
import numpy as np

In [2]:
# To load the data
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3

In [4]:
# To find out the median value in 'Absenteeism Time in Hours' column
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

## Create the targets
    - Everyone that has been absent for more than 3 hours(median value) will be thought of as excessively absent
    - Everyone that has been absent for less than or equal to 3 hours will be thought of as moderately absent

In [6]:
# To assign the value of 1 for excessively absent, 0 for moderately absent
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [7]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [8]:
data_preprocessed['Excessive Absenteeism'] = targets

In [32]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week,Excessive Absenteeism
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2,0
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3,1
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3,0

In [42]:
# To drop the 'Date' and 'Absenteeism Time in Hours' column
data_with_targets = data_preprocessed.drop(['Date', 'Absenteeism Time in Hours'], axis = 1)

In [44]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week,Excessive Absenteeism
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1,0
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2,0
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3,1
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3,0

## Select the inputs for the regression

In [45]:
# To know how many rows and columns in current dataset
data_with_targets.shape

(700, 15)

In [46]:
# To select all rows and all columns except for'Excessive Absenteeism' column
data_with_targets.iloc[:, :-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1,2,0,5,2
696,1,0,0,0,225,26,28,237.656,24,0,1,2,5,2
697,1,0,0,0,330,16,28,237.656,25,1,0,0,5,3
698,0,0,0,1,235,16,32,237.656,25,1,0,0,5,3
699,0,0,0,1,291,31,40,237.656,25,0,1,1,5,3

In [47]:
# To store the result
unscaled_inputs = data_with_targets.iloc[:, :-1]

## Standardize the data

In [140]:
from sklearn.preprocessing import StandardScaler
absenteeism_scaler = StandardScaler()

In [141]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns):
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_=np.mean(X[self.columns])
        self.var_=np.var(X[self.columns])
        return self
    
    def transform(self, X, y = None, copy = None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns = self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis = 1)[init_col_order]

In [142]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month Value', 'Day of the Week'], dtype=object)

In [143]:
# To remove the dummy variables from list
columns_to_scale = ['Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pets', 'Month Value', 'Day of the Week']

In [144]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [145]:
# To fit the input data
absenteeism_scaler.fit(unscaled_inputs)

/Users/yanfeihu/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

CustomScaler(columns=['Transportation Expense', 'Distance to Work', 'Age',
                      'Daily Work Load Average', 'Body Mass Index', 'Children',
                      'Pets', 'Month Value', 'Day of the Week'])

In [138]:
# To transform the unscaled inputs to scaled inputs
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [139]:
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,Day of the Week
0,0,0,0,1,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487,0.182726,-0.683704
1,0,0,0,0,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690,0.182726,-0.683704
2,0,0,0,1,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690,0.182726,-0.007725
3,1,0,0,0,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690,0.182726,0.668253
4,0,0,0,1,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487,0.182726,0.668253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,1,0.880469,-0.589690,-0.388293,-0.007725
696,1,0,0,0,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,0,-0.019280,1.126663,-0.388293,-0.007725
697,1,0,0,0,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,1,-0.919030,-0.589690,-0.388293,0.668253
698,0,0,0,1,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,1,-0.919030,-0.589690,-0.388293,0.668253
699,0,0,0,1,1.036026,0.074838,0.562059,-0.853789,-0.408580,0,-0.019280,0.268487,-0.388293,0.668253

## Split the data into Train & Test and Shuffle

In [149]:
# To import the relevant module
from sklearn.model_selection import train_test_split

In [150]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Transportation Expense  \
 375         0         0         0         1               -0.654143
 185         0         0         0         1                0.040034
 144         1         0         0         0                2.499833
 317         1         0         0         0               -1.574681
 186         0         0         0         1               -1.016322
 ..        ...       ...       ...       ...                     ...
 271         0         0         0         1               -0.654143
 290         0         0         0         1                0.190942
 477         0         0         0         1                0.356940
 153         0         0         0         1                0.040034
 159         0         0         0         1                1.036026

      Distance to Work       Age  Daily Work Load Average  Body Mass Index  \
 375          1.426749  0.248310                -0.499679         1.002633
 185         -0.263140 -1.320435                 1.366488        -0.643782
 144         -1.006691  2.130803                 0.769711        -0.643782
 317         -1.344669  0.091435                 0.305783         0.297027
 186         -1.209478 -0.379188                 1.366488        -0.408580
 ..                ...       ...                      ...              ...
 271          1.426749  0.248310                 0.560476         1.002633
 290         -1.277074  0.091435                -0.169648         0.532229
 477         -0.330735  0.718933                -1.037971        -0.878984
 153         -0.263140 -1.320435                 0.769711        -0.643782
 159          0.074838  0.562059                 1.786584        -0.408580

      Education  Children      Pets  Month Value  Day of the Week
 375          0 -0.919030 -0.589690    -1.244823        -1.359682
 185          0 -0.019280  1.126663    -0.673803        -0.007725
 144          0 -0.919030 -0.589690    -1.244823        -1.359682
 317          0 -0.919030 -0.589690     1.324766        -1.359682
 186          0  0.880469 -0.589690    -0.673803        -0.683704
 ..         ...       ...       ...          ...              ...
 271          0 -0.919030 -0.589690     0.753746         1.344231
 290          1 -0.019280  0.268487     1.039256        -0.007725
 477          0 -0.919030 -0.589690     0.182726        -0.683704
 153          0 -0.019280  1.126663    -1.244823        -0.007725
 159          0 -0.019280  0.268487    -0.959313        -0.007725

 [525 rows x 14 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Transportation Expense  \
 274         1         0         0         0                0.356940
 383         0         0         0         1                1.036026
 401         0         0         1         0                0.190942
 635         1         0         0         0                0.387122
 501         0         0         0         1                0.387122
 ..        ...       ...       ...       ...                     ...
 395         0         0         0         1                0.190942
 549         0         0         0         0                1.005844
 211         1         0         0         0               -0.654143
 626         0         0         0         1                0.040034
 219         0         0         0         1                2.092381

      Distance to Work       Age  Daily Work Load Average  Body Mass Index  \
 274         -0.330735  0.718933                 0.560476        -0.878984
 383          0.074838  0.562059                -0.499679        -0.408580
 401         -1.277074  0.091435                -0.685486         0.532229
 635         -0.330735  1.660180                -1.240355         1.237836
 501         -0.330735  1.660180                -0.251187         1.237836
 ..                ...       ...                      ...              ...
 395         -1.277074  0.091435                -0.685486         0.532229
 549          0.412816 -0.536062                -0.082083         0.767431
 211          1.426749  0.248310                 2.677510         1.002633
 626         -0.263140 -1.320435                -1.240355        -0.643782
 219          1.494345 -1.320435                 2.677510         0.061825

      Education  Children      Pets  Month Value  Day of the Week
 274          0 -0.919030 -0.589690     0.753746        -1.359682
 383          0 -0.019280  0.268487    -1.244823        -0.683704
 401          1 -0.019280  0.268487    -0.959313         0.668253
 635          0  0.880469  0.268487    -0.959313        -1.359682
 501          0  0.880469  0.268487     0.753746         1.344231
 ..         ...       ...       ...          ...              ...
 395          1 -0.019280  0.268487    -0.959313        -1.359682
 549          0  0.880469  0.268487     1.324766        -0.007725
 211          0 -0.919030 -0.589690    -0.388293        -0.683704
 626          0 -0.019280  1.126663    -0.959313         0.668253
 219          0 -0.019280  2.843016    -0.388293         1.344231

 [175 rows x 14 columns],
 array([0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
        0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
        1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
        0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
        0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
        0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
        1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
        0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
        0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0,
        0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1]),
 array([1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
        1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
        0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
        0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
        1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1])]

In [151]:
# To declare 4 variables that will contain above 4 outputs
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [152]:
print(x_train.shape, y_train.shape)

(560, 14) (560,)

In [153]:
print(x_test.shape, y_test.shape)

(140, 14) (140,)

##### Over 700 observations, 80%  will help with training, and 20% will serve for testing.
    - The training inputs are 560 by 14,means that the inputs contain 560 observations, along 14 variables, and one target value per observation.
    - The testing inputs are 140 by 14, means that the inputs contain 140 observations, 14 input variables, and one target variable per observation.

## Logistic Regression with sklearn

In [154]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [155]:
# To declare a variable for logistic regression object
reg = LogisticRegression()

In [156]:
reg.fit(x_train, y_train)

LogisticRegression()

In [158]:
# To evaluate the model accuracy
reg.score(x_train, y_train)

0.775

The model has an accuracy of 77.5%

## Find the intercept and coefficients

In [159]:
feature_name = unscaled_inputs.columns.values

In [160]:
# To find the corresponding coefficients
summary_table = pd.DataFrame (columns = ['feature_name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

               feature_name  Coefficient
0                  Reason_1     2.800965
1                  Reason_2     0.934858
2                  Reason_3     3.095616
3                  Reason_4     0.856587
4    Transportation Expense     0.612733
5          Distance to Work    -0.007797
6                       Age    -0.165923
7   Daily Work Load Average    -0.000147
8           Body Mass Index     0.271811
9                 Education    -0.205738
10                 Children     0.361990
11                     Pets    -0.285511
12              Month Value     0.166248
13          Day of the Week    -0.084370

In [161]:
# To find the intercept
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               feature_name  Coefficient
0                 Intercept    -1.656109
1                  Reason_1     2.800965
2                  Reason_2     0.934858
3                  Reason_3     3.095616
4                  Reason_4     0.856587
5    Transportation Expense     0.612733
6          Distance to Work    -0.007797
7                       Age    -0.165923
8   Daily Work Load Average    -0.000147
9           Body Mass Index     0.271811
10                Education    -0.205738
11                 Children     0.361990
12                     Pets    -0.285511
13              Month Value     0.166248
14          Day of the Week    -0.084370

## Interpret the coefficient

In [162]:
# To add a new column for the exponentials of coefficients
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [163]:
summary_table

               feature_name  Coefficient  Odds_ratio
0                 Intercept    -1.656109    0.190880
1                  Reason_1     2.800965   16.460523
2                  Reason_2     0.934858    2.546851
3                  Reason_3     3.095616   22.100858
4                  Reason_4     0.856587    2.355110
5    Transportation Expense     0.612733    1.845467
6          Distance to Work    -0.007797    0.992233
7                       Age    -0.165923    0.847112
8   Daily Work Load Average    -0.000147    0.999853
9           Body Mass Index     0.271811    1.312340
10                Education    -0.205738    0.814046
11                 Children     0.361990    1.436184
12                     Pets    -0.285511    0.751630
13              Month Value     0.166248    1.180866
14          Day of the Week    -0.084370    0.919091

In [164]:
# Sort summary_table by Odds_ratio
summary_table.sort_values('Odds_ratio', ascending = False)

               feature_name  Coefficient  Odds_ratio
3                  Reason_3     3.095616   22.100858
1                  Reason_1     2.800965   16.460523
2                  Reason_2     0.934858    2.546851
4                  Reason_4     0.856587    2.355110
5    Transportation Expense     0.612733    1.845467
11                 Children     0.361990    1.436184
9           Body Mass Index     0.271811    1.312340
13              Month Value     0.166248    1.180866
8   Daily Work Load Average    -0.000147    0.999853
6          Distance to Work    -0.007797    0.992233
14          Day of the Week    -0.084370    0.919091
7                       Age    -0.165923    0.847112
10                Education    -0.205738    0.814046
12                     Pets    -0.285511    0.751630
0                 Intercept    -1.656109    0.190880

#### The further away from 0 a coefficient is, the bigger its importance
 The most important feature is:
 
     - the 4 reasons for absence: Reason_1 to Reason_4
     - Transportation Expense
     - Children
     - Body Mass Index
     - Pets
     - Education
     
 The smallest impact on model is:
 
     - Month Value
     - Daily Work Load Average
     - Distance to Work
     - Day of the Week
     
     
Based on the Odds_ratio: 
    
    - Reason_3: The most crucial reason for excessive absence is poisoning. If someone is poisoned, they won't go to work and they're being excessively absent after being poisoned are 22 times higher than when no reason was reported.
    - Reason_1: various diseases. A person who has reported this is 16 times more likely to be excessively absent than a person who didn't specify a reason.
    - Reason_2: pregnancy and giving birth. When woman is pregnant, she goes to the gynecologist, gets a regular pregnancy check and comes back to work. 2.5 times more likely to be excessively absent than the base model.
    - Transportation Expense: for 1 standard deviation increase in Transportation Expense, it is close to twice as likely to be excessively absent.
    - Pet: for each additional standardized unit of Pet, the odd = 1 - Odds_ratio, or 24% lower than the base model. This is maybe because if someone have several pets, they're probably not taking care of them on their own(somebody else can take them to the doctor if something is wrong)

## Test the Model

In [165]:
# To evaluate the test model accuracy
reg.score(x_train, y_train)reg.score(x_test, y_test)

0.7428571428571429

In 74.3% of the cases, the model will predict correctly if the person is going to be excessively absent

In [166]:
# To get the probability of an output being 0 or 1
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.73838887, 0.26161113],
       [0.60860095, 0.39139905],
       [0.40910176, 0.59089824],
       [0.80489361, 0.19510639],
       [0.0732329 , 0.9267671 ],
       [0.31965834, 0.68034166],
       [0.31302205, 0.68697795],
       [0.13341719, 0.86658281],
       [0.79712508, 0.20287492],
       [0.75274419, 0.24725581],
       [0.48222467, 0.51777533],
       [0.1964133 , 0.8035867 ],
       [0.07857533, 0.92142467],
       [0.70622367, 0.29377633],
       [0.30708515, 0.69291485],
       [0.57055326, 0.42944674],
       [0.54143955, 0.45856045],
       [0.57205946, 0.42794054],
       [0.38194051, 0.61805949],
       [0.04857923, 0.95142077],
       [0.6977753 , 0.3022247 ],
       [0.79578125, 0.20421875],
       [0.3949288 , 0.6050712 ],
       [0.42248618, 0.57751382],
       [0.26634773, 0.73365227],
       [0.75608758, 0.24391242],
       [0.51088279, 0.48911721],
       [0.86807166, 0.13192834],
       [0.20221381, 0.79778619],
       [0.78635626, 0.21364374],
       [0.62645167, 0.37354833],
       [0.31328112, 0.68671888],
       [0.31159674, 0.68840326],
       [0.45858575, 0.54141425],
       [0.79578125, 0.20421875],
       [0.49182472, 0.50817528],
       [0.78931369, 0.21068631],
       [0.25573014, 0.74426986],
       [0.56312684, 0.43687316],
       [0.40961671, 0.59038329],
       [0.77498126, 0.22501874],
       [0.56525557, 0.43474443],
       [0.78298102, 0.21701898],
       [0.60686095, 0.39313905],
       [0.1856875 , 0.8143125 ],
       [0.42930644, 0.57069356],
       [0.30749736, 0.69250264],
       [0.72725066, 0.27274934],
       [0.79795353, 0.20204647],
       [0.81942132, 0.18057868],
       [0.40762628, 0.59237372],
       [0.65418911, 0.34581089],
       [0.33228577, 0.66771423],
       [0.71457855, 0.28542145],
       [0.15042569, 0.84957431],
       [0.52954972, 0.47045028],
       [0.11080494, 0.88919506],
       [0.74385207, 0.25614793],
       [0.68026142, 0.31973858],
       [0.68231544, 0.31768456],
       [0.27821651, 0.72178349],
       [0.3428341 , 0.6571659 ],
       [0.68801424, 0.31198576],
       [0.21288704, 0.78711296],
       [0.80153376, 0.19846624],
       [0.73465654, 0.26534346],
       [0.91807768, 0.08192232],
       [0.76974456, 0.23025544],
       [0.2729828 , 0.7270172 ],
       [0.66535124, 0.33464876],
       [0.78933713, 0.21066287],
       [0.70551061, 0.29448939],
       [0.09090252, 0.90909748],
       [0.56088305, 0.43911695],
       [0.38017902, 0.61982098],
       [0.78635626, 0.21364374],
       [0.21629641, 0.78370359],
       [0.29187436, 0.70812564],
       [0.23531607, 0.76468393],
       [0.31944675, 0.68055325],
       [0.75422935, 0.24577065],
       [0.92008641, 0.07991359],
       [0.77509813, 0.22490187],
       [0.27020432, 0.72979568],
       [0.5854272 , 0.4145728 ],
       [0.87650641, 0.12349359],
       [0.3034177 , 0.6965823 ],
       [0.43644559, 0.56355441],
       [0.76735169, 0.23264831],
       [0.32567953, 0.67432047],
       [0.83634391, 0.16365609],
       [0.87595892, 0.12404108],
       [0.77828463, 0.22171537],
       [0.71185032, 0.28814968],
       [0.7733574 , 0.2266426 ],
       [0.13219834, 0.86780166],
       [0.7290936 , 0.2709064 ],
       [0.21325641, 0.78674359],
       [0.77402702, 0.22597298],
       [0.76410694, 0.23589306],
       [0.37129308, 0.62870692],
       [0.30114391, 0.69885609],
       [0.29238488, 0.70761512],
       [0.29979282, 0.70020718],
       [0.53024524, 0.46975476],
       [0.48047234, 0.51952766],
       [0.74745112, 0.25254888],
       [0.1530908 , 0.8469092 ],
       [0.22040653, 0.77959347],
       [0.84774718, 0.15225282],
       [0.92679343, 0.07320657],
       [0.09680302, 0.90319698],
       [0.35797301, 0.64202699],
       [0.6462144 , 0.3537856 ],
       [0.44688429, 0.55311571],
       [0.40048686, 0.59951314],
       [0.19617726, 0.80382274],
       [0.19551922, 0.80448078],
       [0.47478212, 0.52521788],
       [0.69975423, 0.30024577],
       [0.76490785, 0.23509215],
       [0.82784477, 0.17215523],
       [0.16951382, 0.83048618],
       [0.52283963, 0.47716037],
       [0.78635626, 0.21364374],
       [0.61061436, 0.38938564],
       [0.80341124, 0.19658876],
       [0.88000548, 0.11999452],
       [0.25392134, 0.74607866],
       [0.68558416, 0.31441584],
       [0.34499614, 0.65500386],
       [0.79423988, 0.20576012],
       [0.68176584, 0.31823416],
       [0.65044433, 0.34955567],
       [0.70612579, 0.29387421],
       [0.48943933, 0.51056067],
       [0.55792328, 0.44207672],
       [0.69226758, 0.30773242],
       [0.74270849, 0.25729151],
       [0.5608647 , 0.4391353 ]])

In [167]:
predicted_proba.shape

(140, 2)

In [168]:
# To know if the probability of excessive absenteeism (the probability of getting 1)
predicted_proba[:,1]

array([0.26161113, 0.39139905, 0.59089824, 0.19510639, 0.9267671 ,
       0.68034166, 0.68697795, 0.86658281, 0.20287492, 0.24725581,
       0.51777533, 0.8035867 , 0.92142467, 0.29377633, 0.69291485,
       0.42944674, 0.45856045, 0.42794054, 0.61805949, 0.95142077,
       0.3022247 , 0.20421875, 0.6050712 , 0.57751382, 0.73365227,
       0.24391242, 0.48911721, 0.13192834, 0.79778619, 0.21364374,
       0.37354833, 0.68671888, 0.68840326, 0.54141425, 0.20421875,
       0.50817528, 0.21068631, 0.74426986, 0.43687316, 0.59038329,
       0.22501874, 0.43474443, 0.21701898, 0.39313905, 0.8143125 ,
       0.57069356, 0.69250264, 0.27274934, 0.20204647, 0.18057868,
       0.59237372, 0.34581089, 0.66771423, 0.28542145, 0.84957431,
       0.47045028, 0.88919506, 0.25614793, 0.31973858, 0.31768456,
       0.72178349, 0.6571659 , 0.31198576, 0.78711296, 0.19846624,
       0.26534346, 0.08192232, 0.23025544, 0.7270172 , 0.33464876,
       0.21066287, 0.29448939, 0.90909748, 0.43911695, 0.61982098,
       0.21364374, 0.78370359, 0.70812564, 0.76468393, 0.68055325,
       0.24577065, 0.07991359, 0.22490187, 0.72979568, 0.4145728 ,
       0.12349359, 0.6965823 , 0.56355441, 0.23264831, 0.67432047,
       0.16365609, 0.12404108, 0.22171537, 0.28814968, 0.2266426 ,
       0.86780166, 0.2709064 , 0.78674359, 0.22597298, 0.23589306,
       0.62870692, 0.69885609, 0.70761512, 0.70020718, 0.46975476,
       0.51952766, 0.25254888, 0.8469092 , 0.77959347, 0.15225282,
       0.07320657, 0.90319698, 0.64202699, 0.3537856 , 0.55311571,
       0.59951314, 0.80382274, 0.80448078, 0.52521788, 0.30024577,
       0.23509215, 0.17215523, 0.83048618, 0.47716037, 0.21364374,
       0.38938564, 0.19658876, 0.11999452, 0.74607866, 0.31441584,
       0.65500386, 0.20576012, 0.31823416, 0.34955567, 0.29387421,
       0.51056067, 0.44207672, 0.30773242, 0.25729151, 0.4391353 ])

## Save the model

In [172]:
import pickle

In [173]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [174]:
with open('scaler', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)